$grid-gutter-width: 0;

$primary: #57c090;
$secondary: #578dc0;


aside, main {
    padding-top: 80px;
}

.card {
    cursor: pointer;
}

.avatar {
  aspect-ratio: 1 / 1!important;
}

.img-fluid {
  width: 100%!important;
}

.badge {
  align-self: center!important;
}

#profileLink {
  cursor: pointer;
}